{% extends 'base.html' %} 

{% block css %}
  {% comment %} <link rel="stylesheet" href="style.css"> {% endcomment %}
{% endblock %}

{% block content %}
<div class="detail__img">
  <img src="{{artist.img}}" alt="{{artist.name}}" />
</div>
<div class="detail__name">
  {% if artist.verified_artist %}
  <div class="icon-text">
    <span class="icon has-text-info">
      <i class="fas fa-check-circle"></i>
    </span>
    <span>Verified</span>
  </div>
  {% endif %}
  <h1 class="title">{{artist.name}}</h1>
</div>
<div class="detail__container">
  <div class="buttons">
    <a href="{% url "artist_update" artist.pk %}" class="button is-info">
      <span class="icon">
        <i class="fas fa-edit"></i>
      </span>
    </a>
    <a href="{% url "artist_delete" artist.pk %}" class="button is-danger">
      <span class="icon">
        <i class="fas fa-trash-alt"></i>
      </span>
    </a>
  </div>
  {% comment %} Songs Section {% endcomment %}

  <div class="detail__songs mb-5">
    <h3 class="title is-3">Songs</h3>

    {% comment %} form to create songs {% endcomment %}

    <form class="mb-5" action="{% url 'song_create' artist.pk %}" method="post">
      {% csrf_token %}

       <div class="field has-addons">

        <div class="control">
          <input 
            type="text" 
            class="input" 
            name="title"
            placeholder="Title"
            required 
          />
        </div>
        
        <div class="control">
          <input 
            type="number" 
            class="input" 
            name="length"
            placeholder="Length in Seconds"
            min="1"
            required
          />
        </div>
        <div class="control">
          <input class="button is-primary" type="submit" value="Add Song" />
        </div>

       </div>
    
    </form>

    {% for song in artist.songs.all %}

    <div class="song">
      <span>{{forloop.counter}}</span>
      <span><b>{{song.title}}</b></span>
      <span>{{song.get_length}}</span>
    </div>

    {% empty %}
    <h3 class="title is-4">No Songs Available Yet</h3>

    {% endfor %}
  </div>

  <div class="detail__about">
    <h4 class="title is-4">About</h4>
    <p>{{artist.bio}}</p>
  </div>
</div>

{% endblock %}
